<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="orderinfoJob" class="com.mx.quartz.OrderInfoJob"></bean>
	
 <bean id="quartzJob" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject" ref="orderinfoJob"></property>
		<property name="targetMethod">
			<value>job</value>
		</property>
	</bean> 
	
	<!-- 定义触发时间 --> 
	<bean id="doTime" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
		<property name="jobDetail" ref="quartzJob"></property>
		<property name="cronExpression">
			<value>*/59 * * * * ?</value> 
		</property>
	</bean>
		
	<bean id="startQuetz" lazy-init="false" autowire="no" class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
		<property name="triggers" ref="doTime"></property>
 	</bean>
</beans> 
